<div mat-dialog-content>
  <h2><u>TECHNOLOGY PROFICIENCIES</u></h2>

  <h3>FLUENT</h3>
  <ul>
    <li>C++</li>
    <li>JavaScript</li>
    <li>HTML</li>
    <li>CSS</li>
    <li>Version Control / GIT</li>
  </ul>

  <h3>INTERMEDIATE</h3>
  <ul>
    <li>C#</li>
    <li>Angular</li>
    <li>Python</li>
    <li>SQL</li>
    <li>Emerson DeltaV System</li>
  </ul>

  <h3>EXPERIENCE WITH</h3>
  <ul>
    <li>ASP.NET</li>
    <li>NodeJS</li>
    <li>VueJS</li>
    <li>React</li>
    <li>SASS</li>
    <li>OSISoft PI</li>
    <li>PHP</li>
    <li>Photoshop</li>
  </ul>

  <br>

  <h2><u>WORK EXPIRIENCE</u></h2>

  <ul>
    <li>
      Software Co-op | <b>RoviSys</b> | May 2018 - Present
    </li>
  </ul>
  Worked with historians such as Emerson DeltaV and OSIsoft PI systems over the<br>
  course of the co-op alongside a group of experienced systems and software engineers.<br>
  Also gained experience with many other technologies including ASP.NET, C#, SQL,<br>
  Angular, VBA, Microsoft Office 2016 and many variations of version control.

  <br>
  <br>

  <h2><u>COMPUTER SCIENCE PROJECTS AND EXTRACURRICULARS</u></h2>
  <ul>
    <li>Hacksu Leader and Development Team Member</li>
    <br>
    <li>Kent Hack Enough Organizer and Staff Member</li>
    <br>
    <li>Attended KHE 2017 - 2019 and 2018 Hyland Hackathon</li>
  </ul>

  <br>

  <h2><u>EDUCATION</u></h2>

  <ul>
    <li><b>Kent State University</b> | August 2017 - May 2021</li>
    <br>
    <li>Bachelor's in Computer Science</li>
    <br>
    <li>Concentration in Information Security</li>
  </ul>

</div>

<div mat-dialog-actions align="center">
  <button mat-raised-button [mat-dialog-close]="true">CLOSE</button>
</div>