<div class="container">
  <div fittext class="colorLight subtext">
    <p fittext>SOFTWARE DEVELOPER</p>
  </div>
  <div class="name">
    <p fittext>ALEX PRITT</p>
  </div>
  <div class="links">
    <ul>
      <li><button (click)="openResumeInfo()">RESUME</button></li>
      <li><a>|</a></li>
      <li><button onclick="window.open('https://github.com/alexpritt', '_blank')">GITHUB</button></li>
      <li><a>|</a></li>
      <li><button (click)="openContactInfo()">CONTACT</button></li>
    </ul>
  </div>
</div>